.draw {
  transition: color 0.25s;
}

.draw::before,
.draw::after {
  border: 2px solid transparent;
  width: 0;
  height: 0;
  content: "";
  position: absolute;
}

.draw::before {
  top: 0;
  left: 0;
}

.draw::after {
  bottom: 0;
  right: 0;
}

.draw:hover {
  color: cyan;
}

.draw:hover::before,
.draw:hover::after {
  width: 100%;
  height: 100%;
}

.draw:hover::before {
  border-top-color: cyan;
  border-right-color: cyan;
  transition: width 0.25s ease-out, height 0.25s ease-out 0.25s;
}

.draw:hover::after {
  border-bottom-color: cyan;
  border-left-color: cyan;
  transition: border-color 0s ease-out 0.5s, width 0.25s ease-out 0.5s, height 0.25s ease-out 0.75s;
}

.meet:hover {
  color: yellow;
}

.meet::after {
  top: 0;
  left: 0;
}

.meet:hover::before {
  border-top-color: yellow;
  border-right-color: yellow;
}

.meet:hover::after {
  border-bottom-color: black;
  border-left-color: black;
  transition: height 0.25s ease-out, width 0.25s ease-out 0.25s;
}